body {
  text-align: center;
  background-image: url("http://beta2.pagie.net/assets/menu/backgrounds/1024/paper9.jpg");
}

h1 {
  font-family: Monoton;
  font-size: 70px;
  margin: 0.2em;
}

h2 {
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  margin-top: 0.5em;
}

table,
tr,
td {
  border: 1px solid black;
}
table,
tr,
td:hover {
  cursor: crosshair;
}

table {
  background-image: url("https://3.bp.blogspot.com/_jFM-Fd8NDFE/TLhmRK1h8AI/AAAAAAAAKcU/NKNPe051PbA/s1600/OldCanvas-5.jpg");
  margin: 0 auto;
}

tr {
  height: 50px;
}

td {
  width: 50px;
}

input[type="number"] {
  width: 6em;
}

@keyframes slidein {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

#header {
  animation-duration: 5s;
  animation-name: slidein;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
    url(http://www.myspacehippo.com/files/glitterbacks/bg345.gif) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
}

#submit {
  color: white;  
  margin: 4px 2px;
  background: green;
  cursor: pointer;
  padding: inherit;
  text-align: center;
  margin: 4px 2px;
  font-size: 16px;
}
#reset,
#resetCanvas {
  color: white;
  cursor: pointer;
  background: red;
  padding: inherit;
  text-align: center;
  margin: 4px 2px;
  font-size: 16px;
}

.button:hover {
  background-color: black;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.input {
  border-style: outset;
}
